<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <style>
        *
        {
            margin: 0%;
            padding: 0%;
        }
        html,body{
            width: 100%;
            height: 100%;
        }
        body{
            overflow-x: hidden;
            overflow-y: hidden;
            background-image: url(https://t3.ftcdn.net/jpg/05/28/86/66/360_F_528866602_aiVwnOnkooTrqo3MgicCf83SVVzt1Gnd.jpg);
            background-position: center;
            background-size: cover;
        }
        .a{
        /* {
        
            width: 100%;
            height: 100%; */
            position: absolute;
            left:40%;
            z-index: 10;
            
            display: flex;
            align-items: center;
            justify-content: center;
            /* \background-color: rgb(49, 46, 46); */
            /* backdrop-filter: blur(30px); */
        

        }
        .main
        {
            height: 100%;
            width: 100%;
            
            /* backdrop-filter: blur(30px); */
           
        }
        .nav
        {
            display: flex;
            align-items: center;
            justify-content:space-between;
            padding: 40px 50px;
            color: rgb(9, 20, 29);
        }
        .full
        {
            height: 100%;
            width: 40%;
            background-color: rgba(240, 248, 255, 0);
            position: absolute;
            top: 0;
           backdrop-filter: blur(30px);
            

right: -50%;        
}
.full h3,i{
    color:rgb(14, 5, 5);
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}
.full i{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(49, 46, 46);
    border-radius: 50px;
}
ul{
    color: aliceblue;
}
        input{
            width: 500px;
            height: 50px;
        }
        form{
            gap:10px;
        }
        input{
            background-color: rgba(47, 170, 31, 0.17);
            
            backdrop-filter: blur(20px);
            border-radius: 12px;
            color: aliceblue;
        
        }
        input::placeholder{
            color: whitesmoke;
        }
        
    </style>
</head>
<body>
    <div class="main">
        <div class="nav">
            <h2 style="font-size:30px;color:green;font-size: 100px;">Web<sub style="color: rgb(244, 250, 244);">Gal</sub><sub>lery</sub></h2>
            <i id="rrr" style="font-size: 30px;font-weight: 800;" class="ri-menu-line"></i>
            
           </div>
        <div class="full" style="z-index: 100;">
            <h3><a href="/" style="text-decoration: none;color: rgb(248, 251, 248);">Home</a></h3>
            <h3><a href="/create" style="text-decoration: none;color: rgb(255, 255, 255);">Create</a></h3>
            <h3><a href="/login" style="text-decoration: none;color: rgb(242, 246, 242);">Login</a></h3>
            <h3><a href="/profile" style="text-decoration: none;color:white;">Profile</a></h3>
            <i class="ri-close-line"></i>
            
        </div>
        <div class="a">
            <form action="/register" method="post" style="display: flex;flex-direction: column;">
                <input type="text" name="name" placeholder="name">
                <input type="text" name="username" placeholder="username">
                <input type="number" name="age" placeholder="age">
                <input type="email" placeholder="email" name="email" id="">
                <input type="password" placeholder="password" name="password" id="">
                 <input type="submit" value="Create account">
                </form>
                </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        var tl = gsap.timeline()
        var dd=document.querySelector(".full i");
        var d=document.querySelector(".nav i");
        tl.to(".full",{
            right:0,
            duration:0.8,
        })
        tl.from(".full h3",{
            stagger:0.4,
            duration:0.8,
            x:100,
            opacity:0,
            ease:"elastic.out",
        })
        tl.pause();
        d.addEventListener("click",function()
    {
       tl.play();
    })
    dd.addEventListener("click",function()
    {
       tl.reverse();
    })
    gsap.from("form input",{
        reverse:true,
        stagger:0.4,
        duration:1,
        y:-1000,
        opacity:0,
        scale:0,
        ease:"bounce.out"
        
    })
    
    </script>
 
</body>
</html>